h1 {
    background-color: red;
    color: #fff;
}
h2{
    text-align: center;
    color: brown;
    background-color: greenyellow;
}

#p2 {
    background-color: aqua;
}

.class1 {
    background-color: gray;
    color: aliceblue;
}

/*this is a basic code*/
